# version: "3.9"

services:
  web:
    build:
      context: .
      dockerfile: Dockerfile
    image: energy-simulation-web
    container_name: energy-simulation-web
    ports:
      - "3000:3000"
    environment:
      NODE_ENV: production
    env_file:
      - .env.local
    restart: always
