version: "3.9"

services:
  postgres:
    image: postgres:16-alpine
    container_name: postgres
    environment:
      POSTGRES_USER: meuusuario
      POSTGRES_PASSWORD: senha123
      POSTGRES_DB: energy-simulator
    ports:
      - "5432:5432"
    networks:
      - energy-network

  api:
    build:
      context: ./api
    container_name: api
    ports:
      - "5500:5500"
    environment:
      DATABASE_URL: postgresql://meuusuario:senha123@postgres:5432/energy-simulator?schema=public
      PORT: 5500
      MAGIC_PDF_FATURA_DECODER_URL: https://magic-pdf.solarium.newsun.energy/v1/magic-pdf
    depends_on:
      - postgres
    networks:
      - energy-network

  web:
    build:
      context: ./web
    container_name: web
    ports:
      - "3000:3000"
    environment:
      NEXT_PUBLIC_API_BASE_URL: http://api:5500
      API_BASE_URL: http://api:5500
    depends_on:
      - api
    networks:
      - energy-network

networks:
  energy-network:
    driver: bridge
